body{
    margin: 0px;
    padding: 0px;
    background-color: #B9CBC2;
    width: 100%;
    font-family: "Source Sans Pro", 'Open Sans', sans-serif;
}

hr{
    display: block;
    height: 2px;
    color: #fff;
    background-color: #fff;
    border: none;
    margin-top: 5%;
    margin-bottom: 5%;
}

a{
    color: #245959;
}

.ital{
    font-style: italic;
}

.home-container{
    margin: 10%;
    color: #263333;
}

.home-img{
    position: relative;
    width: 100%;
    top: 20px;
}

.home-img img{
    width: 100%;
}


.home-sec1{
    line-height: 26px;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.home-sec2{
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 1%;
    margin-top: 5%;
}

.home-sec2 div{
    position: relative;
    left: 30%;
}

.home-sec2 p{
    margin-top: 10px;
}

.home-container h5{
    font-style: italic;
}


/*contact  styling*/

    .contact-container{
        padding: 10%;
    }
    

    .contact-header{
        color: rgba(38, 51, 51, 0.9);
        line-height: 29px;
        font-size: 29px;
        font-weight: 300;
        border-bottom: 2px solid #fff;
        padding: 5%;
        
    }

/*contact  styling*/

/*footer styling  */

.footer-container{
    padding: 3%;
    margin: 3%;

}

/*about styling */

.about-container{
    color: #263333;
    font-weight: 300;
    line-height: 26px;
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
}

.about-container div{
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-container div img{
    width: 100%;
}

.about-fin{
    margin-bottom: 5%;
}

/*about styling */


/*BIOGRAPHY styling */

.about-container div{
    margin-bottom: 20px;
}

/*BIOGRAPHY styling */


/*event styling */

.event-container{
    margin-left: 10%;
    margin-right: 10%;
}

/*event styling */

/*book styling  */

    .book-container img{
        width: 320px;
        height: 470px;
    }

/*book styling  */