<main-nav></main-nav>

<div class="about-container">
    
    <div><strong>BIOGRAPHY</strong></div>
    
    <div>
        <p>
            Jennifer Ackerman has been writing about science, nature, 
            and health for more than 25 years.  Her work aims to explain 
            and interpret science for a lay audience and to explore the 
            riddle of humanity’s place in the natural world, blending 
            scientific knowledge with imaginative vision.  She has won numerous 
            awards and fellowships, including a fellowship from the National 
            Endowment of the Arts, a grant from the Alfred P. Sloan Foundation, 
            a Silver Medal Award for Nature Writing from the International 
            Regional Magazine Association, and fellowships at the Bunting 
            Institute of Radcliffe College (now the Radcliffe Institute), 
            Brown College at the University of Virginia, and the Tisch College 
            of Citizenship and Public Service at Tufts University
        </p>
    </div>


    <div>
        <p>Ackerman's most recent book, The Genius of Birds, was published in 
            April 2016 by  Penguin Press.  Her previous books include Ah-Choo! 
            The Uncommon Life of Your Common Cold (Twelve, 2010), which was named 
            a finalist for the Books for a Better Life Award, and Sex Sleep Eat 
            Drink Dream:  A Day in the Life of Your Body (Houghton Mifflin, 2007; 
            Mariner Paperbacks, 2008), which explores the biological events we 
            experience over the course of a day.  The latter was selected as a New 
            York Times “Editor’s Choice” and was chosen as a main selection for the 
            Scientific American Book Club.  It has been published in 13 languages.  
            Ackerman’s book Chance in the House of Fate:  A Natural History of 
            Heredity (Houghton Mifflin 2001; Mariner Paperbacks 2002) was named a New 
            York Times “New and Noteworthy” paperback and was selected as a Library 
            Journal Best Book of the Year in 2002.  Ackerman’s work on that book was 
            supported by a year-long fellowship from the Bunting Institute and a grant 
            from the Sloan Foundation.  Ackerman is also the author of Notes from 
            the Shore (Viking Penguin, 1995), which describes the natural life of the 
            mid-Atlantic region.  An Established Artist Fellowship from the Delaware 
            Arts Council supported work on that book.   She is the editor of The 
            Curious Naturalist and the co-author with Dr. Miriam Nelson of The Social 
            Network Diet and The Strong Women’s Guide to Total Health. 
        </p>
    </div>

    <div>
        <p>
            Ackerman’s essays and articles have appeared in The New York Times, 
            Scientific American, National Geographic, Natural History, Parade, 
            and many other publications.  She has written on subjects ranging 
            from the work of Chuck Close to the microbiome of the human body, 
            the evolutionary origin of birds, the sexual habits of dragonflies, 
            the neural nature of dyslexia, the biology of cranes, parasites as 
            agents of evolutionary change, ocean circulation, the wildlife of 
            Japan, genetically modified foods, and the work of Nobel laureate 
            and developmental biologist Christiane Nüsslein-Volhard.  In 2005, 
            her article on “The Great Marsh” in Delaware Beach Life won the 
            International Regional Magazine Association’s Silver Medal award 
            for nature writing. Her writing has been collected in several 
            anthologies, among them, Flights of Imagination:  Extraordinary 
            Writings About Birds, ed. Richard Canning (Greystone, 2010), 
            The Penguin Book of the Ocean, ed. James Bradley (Penguin Australia, 2010), 
            Best American Science Writing, ed. Alan Lightman (Perennial, 2005), 
            Shorewords (University of Virginia Press, 2003), Stories from Where We 
            Live—the North Atlantic Coast, ed. Sara St. Antoine (Milkweed, 2001), 
            The Beach Book, ed. Aleda Shirley (Sarabande Books, 2000), The Seacoast 
            Reader, ed. John A. Murray (Lyons Press, 1999), From the Field, ed Charles 
            McCarry (National Geographic, 1997), The Nature Reader, ed. Daniel Halpern 
            and Dan Frank (Ecco Press, 1996), and Best Nature Writing (Sierra Club books, 1996).
        </p>
    </div>

    <div>
        <p>
            From 1998-2002, Ackerman served on the Editorial Board of the University 
            of Virginia Press.  From 1996-2001, she was a judge for the Phillip D. 
            Reed Memorial Prize for Environmental Writing, sponsored by the Southern 
            Environmental Law Center.  She has also worked as an editorial consultant 
            for the Howard Hughes Medical Institute on a series of magazines designed 
            to introduce the lay reader to new research in genetics, and for the Tufts 
            University School of Nutrition Science and Policy, The Nature Conservancy, 
            and the W. Alton Jones Foundation.
        </p>
    </div>


      <div>
        <p>
            Ackerman has made appearances on many radio shows, including NPR programs, 
            and has lectured at Harvard University, the Massachusetts Institute of 
            Technology, the University of Virginia and its Medical Center, the American 
            Association of University Women, and for numerous other colleges, groups, 
            and organizations. 
        </p>
    </div>

    <div>
        <p>
            For seven years, Ackerman was a staff writer and researcher for the Book 
            Division of the National Geographic Society, where she contributed to The 
            Incredible Machine, a book about the human body (1986, 1992) and served 
            as Editor-in-Chief of The Curious Naturalist (1991), a collection of essays 
            about approaching and understanding North American ecosystems.
        </p>
    </div>

    <div>
        <p>
            Ackerman was educated at Yale University, where she studied literature, 
            graduation cum laude in 1980, with a B.A. in English.  Ackerman was married 
            to the late novelist Karl Ackerman and has two daughters.
        </p>
    </div>

    <div>
        <div>For CV, click <a ui-sref="cv">here</a>.
    </div>


            

</div>
    <end-footer></end-footer>