
<main-nav></main-nav>

<div class="contact-container">
    
    <div class="row">
        <div class="col-md-4">
            
            <div class="contact-header">
                Contact
            </div>

            <div>
                Representation
            </div>

            <div>
                Melanie Jackson Literary Agency: <br />
                <a href="mailto:m.jackson@mjalit.com?Subject=Hello%20again" target="_top">m.jackson@mjalit.com</a>
            </div>

            <div>
                Publicity for The Genius of Birds:
            </div>

            <div>
                <p>U. S. edition:  Gail Brussel, Publicity Manager, Penguin Press:   T: 212-366-2846  gbrussel@penguinrandomhouse.com</p>

                <p>U.K. edition:  Constable, Robinson & Corsair, Little Brown Book Group. T: 02031226587 </p>

                <p>Australia edition:  Lilly O'Gorman,  Publicist, Scribe Publications Pty Ltd. T: +61 3 9388 8780 lilly@scribepub.com.au</p>
            </div>








            <div>
                Lectures and Talks:  
            </div>

            <div>
                <p>
                    Jennifer gives illustrated talks on bird intelligence, 
                    bird song, and bird navigation and migration.  If you're 
                    interested in hosting a talk, please send an email
                    to: <a href="mailto:jenniferackermanauthor@gmail.com?Subject=Hello" target="_top">jenniferackermanauthor@gmail.com</a>  
                </p>
            </div>




            <div>Subscribe</div>

            <div>
                <p>If you would like to receive occasional email announcements from Jennifer regarding her speaking engagements, media appearances, new publications, and other events, you may subscribe by submitting your email address.  Your address is confidential and will not be used for any other purpose.  You may remove yourself from the list anytime. </p>
                <p>To subscribe, send an email to: jenniferackermanauthor@gmail.com and ask to be included on Jennifer’s mailing list.  Thank you.</p>
            </div>

            <div>
                Author photo by Robert Llewellyn; photo of Throckmorton by Karin Bendel
            </div>


        </div>


        <div class="col-md-8">
            <div>
                <img src="https://static1.squarespace.com/static/54d01a16e4b05087f559e89d/54de673ee4b066ba02fb0629/57dadc424402430965fdb31a/1473961500172/9+15+16+HR+author+photo.jpg?format=1500w" alt="9 15 16 HR author photo.jpg">
            </div>

            <div>
                <img src="https://static1.squarespace.com/static/54d01a16e4b05087f559e89d/54de673ee4b066ba02fb0629/572a1aca4c2f85e6fde9e072/1479468292402/IMG_2516.JPG?format=1500w" alt="">
            </div>
        </div>
    </div>

</div>
    <end-footer></end-footer>