    
<main-nav></main-nav>

<div class="event-container">
    <div>
        <p>Jennifer gives illustrated talks 
            on bird intelligence, bird song, 
            and bird navigation and migration.  
            If you're interested in hosting a talk, 
            please send an email to:  
            <a href="mailto:jenniferackermanauthor@gmail.com" target="_top">
                jenniferackermanauthor@gmail.com</a>.  
        </p>
    </div>

    <div>
        <p>
            Photography for all presentations 
            includes the work of Pete Myers 
            (see <a href="http://www.calidris.photography/">Calidris Photography</a>), Tim Laman 
            (see <a href="http://www.timlaman.com/">timlaman.com</a>, <a href="http://yourshot.nationalgeographic.com/profile/234909/">Johanna Holldack</a>, 
            Andy Comins (see <a href="http://www.andycomins.com/">andycomins.com</a>), and 
            numerous other  photographers. Photography 
            in Australian presentations includes the work of 
            Kim Wormald (see <a href="http://www.lirralirra.com/">lirralirra.com</a>).
        </p>
    </div>

</div>

<end-footer></end-footer>