   <div class="home-nav">
      <div class="row">
         <div class="col-md-6 text-center">
            <img class="home-nav-img responsive-img" src="https://d2saw6je89goi1.cloudfront.net/a9/ee71c0996d11e69b3feff3ed510922/png.png" alt="mentorbox-log"> 
            <h5>support@mentorbox.com | 1.888.330.5374</h5>
         </div>
         <div class="col-md-6">
            <h5>Already a member? <span class="bolder">Login</span></h5>
            <h5>MentorClass.com | MentorNetwork.com</h5>
            <h5>(NEW) Themed Boxes</h5>
         </div>
      </div>
   </div>
   <div class="home-ceo">
      <div class="text-center">
         <div class="down-marg">
            Read like a CEO
         </div>
         <div>
            <iframe src="https://www.youtube.com/embed/aQqXvWvgdiU" frameborder="0" allowfullscreen></iframe>
         </div>
      </div>
   </div>
   <div class="home-schools text-center">
      <div>
         <img src="https://d2saw6je89goi1.cloudfront.net/45/6b6c40425911e7a259f7bffde15768/banner_mb_r2.png" alt=""> <br/>
         <img src="https://d2saw6je89goi1.cloudfront.net/44/ec7840425911e789337da8d11005a1/banner_mb_r1.png" alt="">
      </div>
   </div>
   <div class="home-fin">
      <!--img-fluid  -->
      <div class="text-center">
         <div class="responsive-img"><img style="width: 810px; height: 470px;" src="https://d2saw6je89goi1.cloudfront.net/65/f34d6073dd11e7a3133714ebc885f2/IMG_3757.jpg" alt=""></div>
         <p>Top authors, professors, and CEOs love and recommend MentorBox:</p>
         <div>
            <iframe src="https://www.youtube.com/embed/EDD4gWGAgJU" width="620" height="515" frameborder="0" allowfullscreen></iframe>
         </div>
         This is your <span class="underline">competitive edge</span>. Don't miss out!
      </div>
      <div class="home-list">
         <ul>
            <li>  Designed for busy, ambitious professionals</li>
            <li>  College-style classes by the authors summarizing their own books for you </li>
            <li>  Speed-reading cheat sheets, audio summaries, video lectures, and proprietary workbooks</li>
            <li>  Only practical topics and amazing books that will have immediate, tangible impact (business, career, wealth, networking, leadership, influence, habit building etc.)</li>
            <li>  Only top authors and professors who have accomplished great things in their lives</li>
            <li>  Bonus workshops</li>
            <li>  Members-only Mastermind Group (Network with authors, mentors, and other like-minded individuals)</li>
            <li>  Our learning materials are exclusively made for our members - Not sold anywhere else!</li>
            <li>  30-day money-back guarantee</li>
         </ul>
      </div>
   </div>
   <div class="home-offer">
      <div class="text-center"><h3>"Action is the foundational key to all success." -Pablo Picasso</h3></div> 
      <div class="row">
          <div class="col-md-4 text-center">
              <input type="text" name="fname" placeholder="Enter Your Name Here...">
          </div>

          <div class="col-md-4 text-center">
              <input type="text" name="email" placeholder="Enter Your Email Here...">
          </div>

          <div class="col-md-4 text-center"><button class="btn btn-green">Get Special Offer</button></div>
      </div> 
   </div>

   <div class="copyright text-center">
        <div>Copyright 2016 Mentorbox LLC. All rights reserved.</div>
        <div><a ui-sref='terms'>Terms of Use</a> |  <a ui-sref='policy'>Privacy Policy</a> | <a ui-sref='Affiliates'>Affiliates</a></div>
   </div>

