
<main-nav></main-nav>


<div class="home-container">
    <div class="home-img">
        <img src="https://static1.squarespace.com/static/54d01a16e4b05087f559e89d/t/55f87c84e4b065342503432b/1442348171555/Jennifer+with+Kagu.JPG?format=2500w" 
        alt="Jennifer with Kagu.JPG">
    </div>

    <div class="home-sec1">
        <p>
            Jennifer Ackerman has been writing about science, nature, 
            and human biology for almost three decades.  Her most recent 
            book is the New York TImes bestseller, The Genius of Birds 
            (Penguin Press, 2016; paperback, 2017).  Scientific American calls 
            the book “a lyrical testimony to the wonders of avian intelligence," 
            and the Wall Street Journal, "a gloriously provocative and highly entertaining book."  
            The book was a finalist for the National Academies Communication Book Award.  
            It was named as a "Best Science Book of 2016" by National Public Radio's Science Friday, 
            a "best book of the year" by The Spectator and the National Post, and a "nature book of 
            the year" by the London Sunday Times.   It was a finalist for the 2017 National Academies 
            Communication Book Award and was long-listed for the PEN/E.O. Wilson Literary Science Writing Award.  
            The Genius of Birds is published in fifteen languages.  
        </p>
    </div>

    <div class="home-sec2">
        <div>
            <img src="https://static1.squarespace.com/static/54d01a16e4b05087f559e89d/t/58e55c42f5e2311c75905e58/1491426416199/?format=1000w" alt="">
            <p>The paperback is out and has made the New York TImes paperback bestseller list. <br /> 
                See events page for scheduled appearances.
            </p>
        </div>
    </div>


    <div class="home-sec1">
        <p>Jennifer's previous books include Sex Sleep Eat Drink Dream:  A Day in the Life of 
            Your Body (Houghton Mifflin);  Ah-Choo!:  The Uncommon Life of Your Common Cold 
            (Twelve); Chance in the House of Fate:  A Natural History of Heredity (Houghton Mifflin); 
            and Notes from the Shore (Viking Penguin).  She has contributed to Scientific American, 
            National Geographic, The New York Times, and many other publications. She is the recipient 
            of an National Endowment for the Arts Literature Fellowship in Nonfiction, a Bunting Fellowship 
            from Radcliffe College, and a grant from the Alfred P. Sloan Foundation.  
        </p>
    </div>

    <div><h5>Rainforest photo by Elsa Loissel</h5></div>

    <end-footer></end-footer>

</div>