<div class="container-fluid">
    <div class="home-nav">
    <div class="row">
        <div class="col-md-6 text-center">
            <img class="home-nav-img responsive-img" src="https://d2saw6je89goi1.cloudfront.net/a9/ee71c0996d11e69b3feff3ed510922/png.png" alt="mentorbox-log"> 
            <h5>support@mentorbox.com | 1.888.330.5374</h5>
        </div>

        <div class="col-md-6">
            <h5>Already a member? <span class="bolder">Login</span></h5>
            <h5>MentorClass.com | MentorNetwork.com</h5>
            <h5>(NEW) Themed Boxes</h5>
        </div>
    </div>
    </div>

    <div class="home-ceo">
        <div class="text-center">
            
            <div class="down-marg">
                Read like a CEO
            </div>
            <iframe src="https://www.youtube.com/watch?v=as8HA1Bx-wY" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="home-schools text-center">
        <div>
            <img src="https://d2saw6je89goi1.cloudfront.net/45/6b6c40425911e7a259f7bffde15768/banner_mb_r2.png" alt=""> <br/>
            <img src="https://d2saw6je89goi1.cloudfront.net/44/ec7840425911e789337da8d11005a1/banner_mb_r1.png" alt="">
        </div>
    </div>

    <div class="home-fin text-center">
        <div class="home-fin-img"></div>
        <p>Top authors, professors, and CEOs love and recommend MentorBox:</p>
        <div><iframe src="https://www.youtube.com/watch?v=QWveXdj6oZU&t=338s" frameborder="0" allowfullscreen></iframe></div>
        This is your competitive edge. Don't miss out!

        <div>
            <ul>
                <li>  Designed for busy, ambitious professionals</li>
                <li>  College-style classes by the authors summarizing their own books for you </li>
                <li>  Speed-reading cheat sheets, audio summaries, video lectures, and proprietary workbooks</li>
                <li>  Only practical topics and amazing books that will have immediate, tangible impact (business, career, wealth, networking, leadership, influence, habit building etc.)</li>
                <li>  Only top authors and professors who have accomplished great things in their lives</li>
                <li>  Bonus workshops</li>
                <li>  Members-only Mastermind Group (Network with authors, mentors, and other like-minded individuals)</li>
                <li>  Our learning materials are exclusively made for our members - Not sold anywhere else!</li>
                <li>  30-day money-back guarantee</li>
            </ul>
        </div>

        <div class="text-center">
            <div>"Action is the foundational key to all success." -Pablo Picasso</div>
            <div class="row">
                <div col-md-4>
                    <input type="text" placeholder="Enter your name here...">
                </div>
                <div col-md-4>
                    <input type="email" placeholder="Enter your email here...">
                </div>
                <div col-md-4>
                    <button class="btn"></button>
                </div>
                
                <div>* By Clicking "Get Special Offer", you agree to our Terms of Use and Privacy Policy.</div>
            </div>
        </div>

    </div>


</div>